@model estacionamientos.Models.PlayaEstacionamiento

@{
    ViewData["Title"] = "Mi Playa";
    var playa = ViewBag.Playa as estacionamientos.Models.PlayaEstacionamiento;
}

<div class="card shadow-sm mt-4">
    <div class="card-body">
        <h5 class="card-title">
            <i class="bi bi-geo-alt-fill text-primary"></i>
            @Model.PlyNom
        </h5>
        <p class="card-text text-muted mb-2">
            <strong>Dirección:</strong> @Model.PlyDir (@Model.PlyProv, @Model.PlyCiu)
        </p>
        <div class="mt-3">
            <a asp-controller="AceptaMetodoPago" asp-action="Lista" asp-route-plyID="@Model.PlyID"
            class="btn btn-outline-primary">
                <i class="fa-regular fa-credit-card"></i> Métodos de pago
            </a>

            <a asp-controller="Playero" asp-action="Plazas" asp-route-id="@Model.PlyID"
               class="btn btn-outline-primary">
                <i class="fa-solid fa-grip"></i> Plazas
            </a>

            <a asp-controller="TarifaServicio" asp-action="VigentesPlayero" asp-route-plyId="@Model.PlyID"
               class="btn btn-outline-primary">
                <i class="fa-solid fa-money-bills"></i> Tarifas vigentes
            </a>

        </div>

</div>