@{
    ViewData["Title"] = "Playas";
}

@model List<estacionamientos.Models.PlayaEstacionamiento>

<div class="d-flex align-items-center mb-4">
    <h1 class="mb-0 me-2">Playas</h1>
    <a class="btn btn-outline-secondary btn-sm" 
       asp-controller="PlayaEstacionamiento" 
       asp-action="Create" 
       title="Nueva playa">
        <i class="bi bi-plus-lg"></i>
    </a>
</div>


<div class="container">
    <h5 class="text-center mt-3">Mis Playas</h5>

    <table class="table table-striped align-middle mt-3">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Provincia</th>
                <th>Ciudad</th>
                <th>Dirección</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var playa in Model)
        {
            <tr>
                <td>@playa.PlyNom</td>
                <td>@playa.PlyProv</td>
                <td>@playa.PlyCiu</td>
                <td>@playa.PlyDir</td>
                <td class="text-center">
                    <a class="btn btn-outline-primary btn-sm me-2"
                       asp-action="ConfigurarPlazas"
                       asp-controller="PlazaEstacionamiento"
                       asp-route-plyID="@playa.PlyID"
                       title="Configurar Plazas">
                        <i class="bi bi-grid"></i>
                    </a>
                    <a class="btn btn-outline-secondary btn-sm"
                       asp-action="Index"
                       asp-controller="AceptaMetodoPago"
                       asp-route-plyID="@playa.PlyID"
                       title="Métodos de Pago">
                        <i class="bi bi-credit-card"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>